.submit{
	margin-left: 220px;
}
#cname{
	margin-left: 20px;
}
#cemail{
	margin-left: 50px;
}
#curl{
	margin-left: 68px;

}
#ccomment{
	margin-left: 106px;
    margin-top: 0px;
    padding: 26px 9px;
}
}